<h1>{{ list.list.created_at | date: 'MM/dd/yy h:mma' }}</h1>
<ul>
  <li ng-repeat="item in list.list.items" class="complete-{{ item.done }}">
    <input type="checkbox" ng-change="list.toggleItem(item._id, $index, item.done)" ng-model="item.done" />
    <a ng-click="list.deleteItem(item._id)" title="Delete item">(x)</a>
    <span>{{ item.text }}</span>
  </li>
</ul>
<form>
  <input type="text" placeholder="Add an item to this grocery list" ng-model="list.formData.text" />
  <button type="submit" ng-click="list.addItem()">Add</button>
</form>
