<h1>Grocery Lists</h1>
<p ng-if="!main.lists.length">There are no grocery lists.</p>
<div class="list-group">
  <a class="list-group-item" ng-repeat="list in main.lists" href="#!/lists/{{ list._id }}">
    {{ list.created_at | date: 'MM/dd/yy h:mma' }}
    <small class="label label-primary">{{ list.items.length }} items</small>
    <span class="glyphicon glyphicon-remove-circle pull-right" ng-click="main.deleteList(list._id)" title="Delete list"></span>
  </a>
</div>
<button class="btn btn-primary" ng-click="main.createList()">Create Grocery List</button>
<p class="link-group"><a href="#!/meals">Manage meals and meal plans</a></p>
