.list-group .label {
  margin: 0 0 0 10px;
}

.list-group-item {
  font-size: 16px;
}

.list-group-item:hover {
  background: #efefef;
}

.glyphicon-edit {
  margin: 0 10px 0 0;
  color: green;
}

.glyphicon-remove-circle {
  color: red;
}

.glyphicon:hover {
  cursor: pointer;
}

.link-group {
  margin: 10px 0;
}

input[type="checkbox"] {
  margin: 0 10px 0 0;
}

.done-true {
  color: #ccc;
  text-decoration: line-through;
}

.item-container {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 0 20px 0; padding: 15px;
}

.form-inline {
  margin: 0 0 20px 0;
}

.inner-container {
  padding: 20px;
}

.glyphicon-ok-circle {
  margin: 0 10px 0 0;
}
